.env
__pycache__

Proxy/conf/default.conf
Proxy/data
Proxy/logs
Proxy/passwd
Proxy/vhost

Smartco/Admin/services/goaccess
Smartco/Admin/services/kanboard/data
Smartco/Admin/services/kanboard/plugins
Smartco/Admin/services/phpmyadmin/sessions

Smartco/Micro/elasticsearch/data
Smartco/Micro/sql/data


Smartdom/Admin/services/goaccess
Smartdom/Admin/services/kanboard/data
Smartdom/Admin/services/kanboard/plugins
Smartdom/Admin/services/phpmyadmin/sessions

Smartdom/Micro/elasticsearch/data
Smartdom/Micro/sql/data
Smartdom/Micro/jitsi/
Smartdom/Micro/posteio/
Smartdom/Micro/rocket/



node_modules
.pnp
.pnp.js
coverage
build
misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
