REACT_APP_JAWHER_API_ENDPOINT="https://api.dashboard.smartco.link/api/"
REACT_APP_question1food1me="https://test2.mouseion.online/questions"
REACT_APP_bodycheckQuestion="https://darkkitchen.smartdom.ch/bodycheck"

REACT_APP_ENDPOINT="https://api.smartdom.ch"
REACT_APP_GED_ID="894ca0ed-8b4e-42fd-aeff-8de26ee1bcf9"
REACT_APP_CLIENTS_FOLDER_ID="902593ef-4c1a-4441-9581-35390ce3d5d5"
REACT_APP_ODOO_ID="test"

REACT_APP_ENT_NAME="Majordome"
REACT_APP_RETHINKDB_BEGIN_NAME="Majordome"
REACT_APP_MEET_URL="https://meet.smartdom.ch/majordome"
REACT_APP_LOGIN_BTN_COLOR="#cf1322"
REACT_APP_ACTIVE_MODULES="ROOMS/MEET/TIMESHEET/MARKETPLACE/MARKETPLACE_EDITEUR_RECETTE/MARKETPLACE_RH_SP"
