/* changing background-color, border-color, font-family, font size */
.theme-customization {
  //height: 100%;

  .deni-react-treeview-container {
    background-color: #fff !important;
    border-color: #fff;
    font-family: tahoma;
    font-size: 12px;
    //width: 400px;

    /* changing the font color, font size and line's height */
    .deni-react-treeview-item-container {
      height: 36px;

      /* changing the font color, and padding top and bottom (left is not recommended) */
      .icon-and-text {
        color: black;
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: normal;

        /* changing the selected item properties */
        &.selected {
          //color: red;
          //border-color: #eaaeae;
        }

        /* changing the icons of the folders expanded */
        .icon {
          width: 24px !important;
          height: 24px !important;

          /* changing the icons of the folders colapsed */
          //&.colapsed {
          background-image: url("../images/closed-folder.png") !important;
          //}
          /* changing the icons of the folders expanded */
          &.expanded {
            background-image: url("../images/opened-folder.png") !important;
          }

          /* changing the icons of the items */
          &.isleaf {
            background-size: 22px 22px;
            background-image: url("../images/pdfimage.jpg") !important;
          }

        }


      }

    }

  }

}

.theme-customization-users {
  //height: 100%;

  .deni-react-treeview-container {
    background-color: #fff !important;
    border-color: #fff;
    font-family: tahoma;
    font-size: 12px;
    //width: 400px;

    /* changing the font color, font size and line's height */
    .deni-react-treeview-item-container {
      height: 36px;

      /* changing the font color, and padding top and bottom (left is not recommended) */
      .icon-and-text {
        color: black;
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: normal;

        /* changing the selected item properties */
        &.selected {
          //color: red;
          //border-color: #eaaeae;
        }

        /* changing the icons of the folders expanded */
        .icon {
          width: 24px !important;
          height: 24px !important;

          /* changing the icons of the folders colapsed */
          //&.colapsed {
          background-size: 22px 22px;
          background-image: url("../images/Team.png") !important;
          //}
          /* changing the icons of the folders expanded */
          &.expanded {
            background-size: 22px 22px;
            background-image: url("../images/Team.png") !important;
          }

          /* changing the icons of the items */
          &.isleaf {
            background-size: 22px 22px;
            background-image: url("../images/userTr.png") !important;
          }

        }


      }

    }

  }

}