.custom-progress-height{
    height: 1.5rem!important;
}
.creation_form{
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 786px;
    font-weight: 400;
}

@media (min-width: 768px){
    .creation_form {
        background: #fff;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        border-radius: 4px;
    }
}
.custom-sui-input-size{
    height:calc(1.5em + 0.9rem + 2px)!important;
}
