
.folders_container{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    padding-left: 20px;
}

.folder_item_container{
    display: flex;
    flex: 1 1 220px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    vertical-align: top;
    max-width: 100%;
    min-width: 0;
    color: rgba(0,0,0,.72);
    touch-action: pan-x pan-y;
}
.folder_item{
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
    padding: 10px;
    cursor: pointer;
}